.box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

@media(max-width:1215px){
    .box{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:600px){
    .box{
        grid-template-columns: repeat(1, 1fr);
    }
}

.floating-button {
  position: fixed !important;
  right: 1.2em;
  bottom: 1.2em;
}

.no-products{
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.3em;
    color: #6e6e6e;
}